<h2>Make a new article</h2>


<form method="POST" action="/articles">
    <label for="articleTitle">Article Title</label>
    <input type="text" name="articleTitle"/>

    <label input="articleBody">Article Body</label>
    <input type="text" name="articleBody"/>

    <input type="submit" value="POST NEW ARTICLE">
 
</form>

<div>
    <a href="/articles" class="changes">Back to all the articles</a>
</div>